/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}

/*ajout css pour btn modifier*/

.projets-modale {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 10em;
    margin-left: 5em;
}

.photosWorksGalleryModal {
    max-width: 1.5em;
    max-height: 1.5em;
}

.projets-modale .btnModifier {
    /*max-width: 60px;*/
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    padding-top: 10px;
    margin-left: 20px;
    /*cursor: pointer;*/
}

.btnModifier a {
    color: black;
    text-decoration: none;
}

/*modale*/

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*max-width: calc(100vh -20px);
    max-height: calc(100vh -20px);*/
    background: rgba(0, 0, 0, 0.5);
}

#modal-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 80%;
    padding: 40px 30px;
    background-color: white;
    overflow: auto;
    border-radius: 2%;
}

#modal-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 80%;
    padding: 40px 30px;
    background-color: white;
    overflow: auto;
    border-radius: 2%;
}

#modal-wrapper1 .divBtnActionModal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
}

#modal-wrapper2 .divBtnActionModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: transparent;
}

.closeContainer:hover,
.closeContainer:active,
.btnQuit:hover,
.btnQuit:active .btnGoBack,
.btnGoBack:hover {
    cursor: pointer;
}

.btnQuit,
.btnQuit:hover,
.btnQuit:active,
.btnGoBack,
.btnGoBack:hover,
.btnGoBack:active {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.wrapper-gallery1,
.wrapper-gallery2 {
    height: 70%;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}

#formAddWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-gallery1 {
    border-bottom: 0.2em solid #b3b3b3;
}

.wrapper-gallery h2 {
    font-family: "Work sans";
    color: #000000;
    font-weight: lighter;
    font-size: 3em;
}

.titleModal {
    font-size: 2em;
    color: black;
    font-family: "Work Sans";
    font-weight: lighter;
    margin-bottom: 20px;
}

.photosGalleryModal {
    /*padding: 40px 0px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /*gap: 10px;*/
    row-gap: 30px;
    /*overflow: hidden;*/
}

.photosGalleryModal img {
    min-width: /*18%*/ 76px;
    max-height: /*102px*/ 102px;
    display: flex;
    justify-content: flex-end;
}

.divImgAndSupp {
    width: 76px;
    height: 102px;
}

.btnSupp {
    transform: scale(0.2);
    cursor: pointer;
    position: relative;
    bottom: 125px;
    left: 25px;

    border: none;
    padding: 0px;
    border-radius: 25px;
}

.btnPostPhoto {
    min-width: 100px;
    font-size: 1.3em;
    padding: 10px 25px;
    border: 0.1rem solid #1d6154;
    border-radius: 25px;
    background-color: #1d6154;
    color: white;
    font-family: "Syne";
    cursor: pointer;
}

/*css pour photo et form 2eme page modale*/

.content2ndPageModal {
    display: flex;
    flex-direction: column;
}

.containerPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e8f1f6;
    height: 170px;
    border-radius: 1%;
    margin-bottom: 20px;
    position: relative;
}

.containerPhoto #iconeImage {
    transform: scale(1);
}
input[type="file"] {
    display: none;
}

#customTest {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #cbd6dc;
    color: #306685;
    font-family: "Work Sans";
    cursor: pointer;
}

#customTest img {
    height: 100%;
}

.containerPhoto p {
    font-family: "Syne";
    font-size: 0.7em;
    color: #444444;
}
.titleAndCategory {
    display: flex;
    flex-direction: column;
    border-bottom: 0.2em solid #b3b3b3;
    padding-bottom: 20px;
}

.titleAndCategory .inputArea,
.titleAndCategory .inputArea:hover,
.titleAndCategory.inputArea:focus {
    height: 50px;
    margin: 0.5em 0 1em 0;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li /*,
nav a*/ {
    padding: 0 10px;
    font-size: 1.2em;
}

/*nav a:hover,*/
nav li:link,
nav a:link,
nav li:visited,
nav a:visited {
    color: #000000;
    text-decoration: none;
    box-shadow: none;
}

/*nav a:hover,*/
nav li:hover,
nav a:hover {
    color: #b1663c;
}

/* ajout style "mot de passe oublié" dans form log in */
#contact a,
#login a {
    color: #000000;
}

#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

/*ajout style pour boutons filtres et boutons du bas modale*/

#formFilters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 5%;
}

/*.btnPostPhoto,*/
.btnCategories {
    min-width: 100px;
    font-size: 1.3em;
    padding: 10px 25px;
    border: 0.1rem solid #1d6154;
    border-radius: 25px;
    background-color: transparent;
    color: #1d6154;
    font-family: "Syne";
}

/*.btnPostPhoto,*/
.btnCategories:hover {
    background-color: #1d6154;
    color: white;
    cursor: pointer;
}

/*divbottom modal ne marche paaaaaas :DDDDD*/

.btnBottomModal {
    display: flex;
    justify-content: center;
}

#btnValider {
    background-color: #a7a7a7;
    width: 40%;
    font-size: 1.3em;
    padding: 10px 25px;
    border: 0.1rem solid #a7a7a7;
    border-radius: 25px;
    font-family: "Syne";
    color: white;
    margin-bottom: 0px;
}

#btnValider:hover {
    cursor: pointer;
}

/*fin ajout style btns*/

#portfolio h2 {
    text-align: center;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact,
#login {
    width: 50%;
    margin: auto;
}
#contact,
#login > * {
    text-align: center;
}
#contact h2,
#login h2 {
    margin-bottom: 20px;
}
#contact form,
#login form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input,
#login input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
    margin: 2em 0 1em 0;
}

#login p {
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}
